:root {
  /* PALETTE */
  --dark-bg: #000000;
  --dark-text: #ffffff;
  --light-bg: #ffffff;
  --light-text: #000000;

  /* METADATA */
  --presentation-title: "Presentation template";
  --presentation-subtitle: "Mapping the path to health";
  --presentation-title-short: "Mapping the path to health";
  --presenter-name-full: "Alejandro Astudillo Aguiar\A Ainhoa Alba de Jesús\A Miguel Ureña Pliego\A Patricia García Herreros";
  --presenter-name: "Alejandro Astudillo Aguiar\A Ainhoa Alba de Jesús\A Miguel Ureña Pliego\A Patricia García Herreros";
  --font-spec: "Helvetica Regular 18/18";

  /* LOGOS — DARK */
  --l-inst-main-d: url("logos/databricks-x-hack-nation-logo.png");
  --l-inst-icon-d: url("logos/hack-nation-logo.png");
  --l-dept-main-d: url("logos/geo-care-symbol.png");
  --l-dept-icon-d: url("logos/geo-care-logo.png");
  --l-extra-icon-d: url("logos/databricks-logo.png");

  /* LOGOS — LIGHT */
  --l-inst-main-l: url("logos/databricks-x-hack-nation-logo.png");
  --l-inst-icon-l: url("logos/hack-nation-logo.png");
  --l-dept-main-l: url("logos/geo-care-symbol.png");
  --l-dept-icon-l: url("logos/geo-care-logo.png");
  --l-extra-icon-l: url("logos/databricks-logo.png");
}