:root {
  /* PALETTE */
  --dark-bg: #000000;
  --dark-text: #ffffff;
  --light-bg: #ffffff;
  --light-text: #000000;

  /* METADATA */
  --presentation-title: "Presentation template";
  --presentation-subtitle: "A very cool subtitile";
  --presentation-title-short: "Template";
  --presenter-name-full: "Someone's name, insitution or possition";
  --presenter-name: "Someone's name";
  --font-spec: "Helvetica Regular 18/18";

  /* LOGOS — DARK */
  --l-inst-main-d: url("logos/ML_logo_dark.png");
  --l-inst-icon-d: url("logos/ML_symbol_dark.png");
  --l-dept-main-d: url("logos/CS_logo_dark.png");
  --l-dept-icon-d: url("logos/CS_symbol_dark.png");

  /* LOGOS — LIGHT */
  --l-inst-main-l: url("logos/ML_logo_light.png");
  --l-inst-icon-l: url("logos/ML_symbol_light.png");
  --l-dept-main-l: url("logos/CS_logo_light.png");
  --l-dept-icon-l: url("logos/CS_symbol_light.png");
}
